<mat-toolbar>
  <div class="container-fluid pr-0">
      <form class="d-flex justify-content-between">
        <div class="form-inline">
          <div class="input-group">
            <h2 style="font-weight: bold;" class="greenLink pr-4">E.SUN | MARS</h2>
          </div>
        </div>
        <div class="form-inline">
          <div class="btn-group">
            <button type="button" class="btn dropDown pr-0">
              <img src="assets/images/E.SUN_Bank.png" class="rounded-circle " style="width:40px; height:40px; ">
              <i class="fa fa-angle-down ml-1" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
</mat-toolbar>
