<div class="row">
  <div class="col">
      <div class="logo text-center">
        <img src="assets/images/E.SUN_Bank.png">
      </div>

      <h2 class="text-center heading">歡迎登入玉山銀行新平台</h2>

      <div class="loginform">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          帳號 <input formControlName="account"  placeholder="請輸入員工編號..." class="form-control inputstyle">
          <div class="text-center">
              <button type="submit" class="btn btn-ylw" >登入</button>
          </div>
        </form>
        {{ loginForm.value | json }}
      </div>
  </div>
</div>








