<section>

<esb-search-main searchHeader="顧客查詢">
    <ul sm-actions class="nav float-sm-right float-xs-none nav-function-btn">
      <li>
          <button type="button" class="nav-link btn">
              <i class="fa fa-plus iconspace" aria-hidden="true"></i>新增顧客</button>
      </li>
      <li>
          <button type="button" class="nav-link btn">
              <i class="fa fa-eye iconspace" aria-hidden="true"></i>調閱特記對象查詢記錄</button>
      </li>
    </ul>
</esb-search-main>

<div class="area shadow">
  <form (ngSubmit)="onSubmit($event)" [formGroup]="ClientForm" #clientSearchForm>
      <div class="form-row">
        <div class="form-group col-12 col-md-4 col-lg-3">

          <label class="float-right ps_note">身份證字號/統一編號</label>
            <input formControlName="ID"
                   title="身分證字號"
                   placeholder="e.g. A123456789"
                   type="text"
                   required
            class="form-control inputstyle">
            <div *ngIf="ClientForm.get('ID').invalid && ClientForm.get('ID').dirty" style="color: red">請輸入正確格式</div>
        </div>


         <div class="form-group col-12 col-md-4 col-lg-3">
            <label class="float-right ps_note">戶名</label>
            <input formControlName="CustomerName"
                   title="戶名"
                   placeholder="e.g. 王小明"
                   type="text"
            class="form-control inputstyle">
        </div>

        <div class="form-group col-md-4 col-lg-3">
          <div class="form-bottom">
            <button type="submit" class="btn btn-ylw">
              <i class="fa fa-search mr-1" aria-hidden="true"></i>搜尋</button>
            <button type="button" class="btn btn-gry" (click)="clientSearchForm.reset()" >清除</button>
          </div>
        </div>

      </div>
  </form>
</div>

</section>
